@font-face {
    font-family: 'SolmoeKimDaeGeon';
    src: url('../../assets/fonts/SolmoeKimDaeGeon-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SolmoeKimDaeGeon', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-image: url('board-front/src/assets/ju/image/오래된 종이느낌 배경.jpg'); /* 배경 이미지 경로 */
    background-size: cover;
    background-position: center;
}

.SignIn {
    /*background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
*/
}

